#bottomBox {
  display: flex;
  padding: 20px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  align-self: center;
}

.infoBox {
  display: flex;
  justify-content: flex-start;
  float: left;
  text-align: left;
  width: 100%;
}

#picAndLinks {
  width: 50%;
}

#pic {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 18px;
  padding: 0px;
  text-align: left;
}

p a {
  text-decoration: none;
  color: #3E3E3E;
  font-style: italic;
}

p a:hover {
  color: blue;
}

h2 {
  text-transform: uppercase;
  color: #3E3E3E;
  margin-top: 0px;
}

#contactInfo {
  padding: 20px;
  padding-top: 0px;
  align-items: flex-start;
  width: 50%;
}

.skills {
  text-align: left;
  align-self: flex-start;
  padding: 20px;
}

.listCategory {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

li {
  text-indent: 20px;
}

#iconBar {
  display: flex;
  align-self: center;
  justify-content: center;

}

.icon {
  color: #3E3E3E;
  font-size: 50px;
  padding: 10px;
}

@media only screen and (max-width: 850px) {

  p, li {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
    width: 40vw;
  }
}
