#bottomBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  align-self: center;
}

/* h1 {
  color: #3E3E3E;
  margin: 30px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.5em;
}

p {
  font-size: 18px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
} */

.artBox {
  display: flex;
  margin: 10px;
  flex-flow: column wrap;
  width: 100vw;
  height: 300vh;
  align-content: center;
  align-self: center;
}

.artItem {
  cursor: default;
  position: relative;
  background-color: #3E3E3E;
  text-align: center;
  margin: 10px;
  width: 30vw;
  backface-visibility: hidden;
}

.artImage {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.artItem:hover .artImage {
  opacity: 0.3;
}

.artItem:hover .middle {
  opacity: 1;
}

.artText {
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5em;
}

.artMedium {
  color: #C5C5C5;
}


@media only screen and (max-width: 850px){

  .artBox {
    height: 140vh;
  }

}

@media only screen and (max-width: 450px) {

  .artItem {
    width: 80vw;
  }
  .artBox {
    height: 630vh;
  }
}
