#bottomBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  align-self: center;
}

.photoSection {
  display: flex;
  align-self: center;
}

#poster {
  flex-flow: column wrap;
  height: 145vh;
  align-content: center;
  align-self: center;
}

.designSection {
  display: flex;
  width: 95vw;
  align-self: center;
  /* justify-content: center; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px #E8E8E8 solid;
}

.logo {
  height: 30vh;
  width: auto;
}

#topBox {
  border-top: 2px #E8E8E8 solid;
}

.designPic {
  width: 30vw;
  height: auto;
  margin: 10px;
  align-self: center;
}

.designInfo {
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
  width: 30vw;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  letter-spacing: 0.5em;
  padding-left: 5px;
  padding-right: 5px;
  color: #3E3E3E;
}

#link {
  text-decoration: none;
  color: #3E3E3E;
}

#link:hover {
  border-bottom: 1px #3E3E3E solid;
}
